@import '../../../styles/config';

.quick-notes {
  &-wrapper {
    @extend %ruler-bottom;
    background-color: $bg-color-2;
  }

  &_list {
    ul{ 
      @extend %ruler-right;
      margin: 0;
      padding: 0;
    }

    li {
      @extend %ruler-bottom;
      list-style: none;
      padding: 10px 0;
      &:last-child {
        border-bottom-width: 0;
      }
      span {
        font-size: 1rem;
        pointer-events: none;
        &:first-child {
          font-size: 1.1rem;
          margin-right: 5px;
          font-weight: bold;
        }
      }
    }
  }
  &_details_panel {
    textarea {
      resize: none;
      border-radius: 0;
    }
    pre {
      display: inline;
      .show-ruler {
        @extend %ruler-bottom;
        display: inline-block;
      }
    }
  }
}